/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
-----------------COLOR PALETTE-----------------
var(--darkest-purple) ----------main--------
29, 0, 27
#392038
57, 32, 56
#564054
86, 64, 84
#726071
114, 96, 113
#8E808D
142, 128, 141
#AA9FAA
170, 159, 170
#C7BFC6
199, 191, 198
var(--heading-color)
227, 223, 227
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: rgba(17, 1, 8, 1);
}

body {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(17, 1, 8, 0.9)),
    to(rgba(17, 1, 8, 1))
  );
  background-image: -o-linear-gradient(
    top left,
    rgba(17, 1, 8, 0.9),
    rgba(17, 1, 8, 1)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(17, 1, 8, 0.9),
    rgba(17, 1, 8, 1)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #c7bfc6;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  max-width: 100vw;
  margin: auto 10%;
  text-align: center;
  /*cursor: none;*/
}

h1 {
  color: #e3dfe3;
  font-size: 30px;
  font-weight: 700;
  border-bottom: 1px solid rgb(66, 178, 200);
  padding: 30px;
  padding-bottom: 10px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
}

h3 {
  color: #8e808d;
  font-size: 22px;
  font-weight: 300;
}

p {
  color: #aa9faa;
}

main {
  position: relative;
  margin: 40px 20px 0;
  z-index: -2;
  height: 80vh;
}

.page-heading {
  mix-blend-mode: screen;
  font-size: 42px;
  text-align: left;
  padding: 10px 30px;
}

.image-hero-area {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  margin: 0;
  background: url(../img/bg-homeoffice.png) center center no-repeat;
  background-size: cover;
}

/*
-----------------ABOUT PAGE----------------
*/
.main-navigation {
  background-color: #110108;
}

.body-about {
  width: 100%;
  margin-top: 400px;
  /* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  ); */
}

.main-about {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.about-me__img img {
  position: fixed;
  bottom: 0;
  right: 0;
  max-height: 90%;
  max-width: 90%;
  opacity: 0;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.about-me {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 70px;
  padding-bottom: 20px;
  padding-top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  background-color: rgba(31, 16, 21, 0.8);
  -webkit-box-shadow: 0 0 100px 100px rgba(31, 16, 21, 0.825);
  box-shadow: 0 0 100px 100px rgba(31, 16, 21, 0.825);
}

.about-me h1 {
  font-size: 42px;
  color: white;
}

.about-me__item {
  color: rgb(233, 233, 233);
  mix-blend-mode: screen;
  font-size: 18px;
  text-align: left;
  padding: 10px 30px;
}

/*-----------------about page end----------------*/
/*-------------------CUSTOM CURSOR-----------------*/
/* .cursor {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
}

.cursor-lazy {
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 0;
  left: 0;
  transition: 0.01s ease-out;
}

.cursor:hover,
.cursor:active,
.cursor::after,
.cursor::before {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  transition: 0.5s ease-out;
} */

/*----------------custom cursor end------------------*/
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  width: 100%;
  max-width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #110108;
  z-index: 100;
  /*  box-shadow: var(--medium-box-shadow);*/
}

.personal-logo {
  width: 105px;
  margin-left: 10vw;
  background-color: #110108;
  padding: 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list,
.mobile-nav-list {
  list-style-type: none;
}

/*Navigation animation */
.navigation-list__item:before {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  content: "";
  padding-right: 2px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navigation-list__item:after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  content: "";
  padding-right: 2px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation-list__item:before {
  top: 0px;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  width: auto;
}

.navigation-list__item:after {
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  width: 100%;
  background-color: #392038;
}

.navigation-list__item:hover:before,
.navigation-list__item:hover:after {
  opacity: 1;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

/* navigation animation end */
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  width: auto;
  border-radius: 5px;
}

.navigation-list {
  margin-right: 80px;
  padding-left: 0;
}

.navigation-list__item,
.mobile-nav-list__item {
  color: #414463;
  font-weight: 300;
  text-decoration: none;
}

.navigation-list__item:visited {
  color: #e3dfe3;
}

.navigation-list__item:hover,
.navigation-list__item:focus {
  text-decoration: none;
  text-shadow: 0 0 2px white;
}

.navigation-list__item:active {
  color: #000;
}

.navigation-list__item {
  color: #e3dfe3;
}

/*---------------Mobile Navigation--------------*/
#menu-toggle {
  display: block;
  position: relative;
  top: 50px;
  right: 5px;
}

#menu-toggle input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: -70px;
  cursor: pointer;
  opacity: 0;
  /* hide the checkbox */
  z-index: 2;
  /* and place it over the hamburger */
}

#menu-toggle span {
  display: block;
  position: relative;
  right: 0px;
  top: -50px;
  background: rgb(66, 178, 200);
  height: 3px;
  width: 40px;
  margin-bottom: 7px;
}

.hamburger__lines span {
  border-radius: 10px;
}

.hamburger__lines {
  display: block;
  position: absolute;
  right: 0px;
  top: -25px;
}

.mobile-nav-list {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(17, 1, 8, 0.9)),
    to(rgba(17, 1, 8, 1))
  );
  background-image: -o-linear-gradient(
    top left,
    rgba(17, 1, 8, 0.9),
    rgba(17, 1, 8, 1)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(17, 1, 8, 0.9),
    rgba(17, 1, 8, 1)
  );
  width: 400px;
  height: 390px;
  text-align: right;
  margin-top: -58px;
  padding-left: 0;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.mobile-nav-list li {
  margin-top: 20px;
}

.mobile-nav-list__item {
  text-align: right;
  padding-right: 55px;
  color: #e3dfe3;
  font-size: 28px;
  border-bottom: 1px solid rgb(66, 178, 200);
}

.line,
.mobile-nav-list {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 28px;
}

.mobile-nav {
  width: 50px;
  position: relative;
}

#checkbox:checked ~ .hamburger__lines span {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#checkbox:checked ~ .hamburger__lines span:first-child {
  -webkit-transform: rotate(-45deg) translate(-6.5px, 6.5px);
  -ms-transform: rotate(-45deg) translate(-6.5px, 6.5px);
  transform: rotate(-45deg) translate(-6.5px, 6.5px);
}

#checkbox:checked ~ .hamburger__lines span:last-child {
  opacity: 0;
  -webkit-transform: rotate(0deg) translateX(65px);
  -ms-transform: rotate(0deg) translateX(65px);
  transform: rotate(0deg) translateX(65px);
}

#checkbox:checked ~ .mobile-nav-list {
  display: block;
  opacity: 1;
  -webkit-transform: translate3d(-320px, 0px, 150px);
  transform: translate3d(-320px, 0px, 150px);
  position: relative;
  z-index: 5;
}

#checkbox ~ .mobile-nav-list {
  display: block;
  opacity: 0;
  -webkit-transform: translate3d(150px, -250px, -50px);
  transform: translate3d(150px, -250px, -50px);
}

/*------------------mobile nav end----------*/
/*
----------------------PARALLAX effect-------------------
*/
.parallax-container {
  position: absolute;
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.white-part {
  position: fixed;
  top: 51%;
  left: -10%;
  width: 70%;
  height: 80%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(214, 255, 245, 1)),
    to(rgba(235, 255, 250, 1))
  );
  background-image: -o-linear-gradient(
    rgba(214, 255, 245, 1),
    rgba(235, 255, 250, 1)
  );
  background-image: linear-gradient(
    rgba(214, 255, 245, 1),
    rgba(235, 255, 250, 1)
  );
  z-index: -9999;
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}

.white-part-two {
  position: fixed;
  left: 40%;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

/*-------------------PARALLAX effect end----------------*/
.main__heading {
  font-size: 90px;
  font-weight: 300;
  margin: 1px 0;
  padding: 0;
  border: 0;
}

.name-highlight {
  font-weight: 300;
  color: #110108;
  text-shadow: -1px -1px 0 rgba(214, 255, 245, 1),
    1px -1px 0 rgba(214, 255, 245, 1), -1px 1px 0 rgba(214, 255, 245, 1),
    1px 1px 0 rgba(214, 255, 245, 1);
}

.main__paragraph {
  font-size: 30px;
  padding: 0 30px;
}

h3.main__paragraph {
  margin-top: 15px;
}

/*
------------------Title toggler--------------
*/
#toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}

.toggler-row,
.toggler-location-row {
  text-align: center;
  display: block;
  height: 50px;
  padding: 5px;
  font-size: 40px;
}

.toggler-location-row {
  color: #726071;
  margin-top: 40px;
}

.located-icon {
  height: 50px;
  margin-bottom: -5px;
  border-radius: 10px;
}

.static-text {
  margin: 0;
}

.programmer-text {
  color: #171717;
  font-family: "Inconsolata", monospace;
  text-shadow: -1px -1px 0 rgba(214, 255, 245, 1),
    1px -1px 0 rgba(214, 255, 245, 1), -1px 1px 0 rgba(214, 255, 245, 1),
    1px 1px 0 rgba(214, 255, 245, 1);
}

.designer-text {
  color: #0093c4;
  font-family: "Dancing Script", cursive;
  text-shadow: 0 2px 4px #110108;
}

.developer-text {
  color: #ff0000;
  font-family: inherit;
  text-shadow: -1px -1px 0 rgba(214, 255, 245, 1),
    1px -1px 0 rgba(214, 255, 245, 1), -1px 1px 0 rgba(214, 255, 245, 1),
    1px 1px 0 rgba(214, 255, 245, 1);
}

#text-wrapper {
  display: block;
  height: 65px;
  overflow: hidden;
  padding: 0;
}

#rotating-text span {
  display: block;
  font-size: 52px;
  height: 120px;
  margin: 0 auto;
  padding: 15px 0;
  width: 360px;
}

#rotating-text {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
  display: block;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translateY(-400px);
    transform: translateY(-400px);
  }

  5% {
    -webkit-transform: translateY(-275px);
    transform: translateY(-275px);
  }

  33% {
    -webkit-transform: translateY(-265px);
    transform: translateY(-265px);
  }

  38% {
    -webkit-transform: translateY(-155px);
    transform: translateY(-155px);
  }

  66% {
    -webkit-transform: translateY(-145px);
    transform: translateY(-145px);
  }

  71% {
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
  }

  99.9% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
  }

  100% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translateY(-400px);
    transform: translateY(-400px);
  }

  5% {
    -webkit-transform: translateY(-275px);
    transform: translateY(-275px);
  }

  33% {
    -webkit-transform: translateY(-265px);
    transform: translateY(-265px);
  }

  38% {
    -webkit-transform: translateY(-155px);
    transform: translateY(-155px);
  }

  66% {
    -webkit-transform: translateY(-145px);
    transform: translateY(-145px);
  }

  71% {
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
  }

  99.9% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
  }

  100% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
}

/*
----------------Title toggler end------------
*/
.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 100px;
  z-index: 2;
}

.button-container a {
  z-index: 2;
}

button,
.button {
  display: inline-block;
  -webkit-box-shadow: 1px 1px #726071, inset 1px 1px #c7bfc6;
  box-shadow: 1px 1px #726071, inset 1px 1px #c7bfc6;
  color: #c7bfc6;
  width: 220px;
  font-family: inherit;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  margin: 0 10px;
  border: none;
  z-index: 6;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 1;
  -webkit-box-shadow: 0 0 10px rgba(66, 178, 200, 0.4);
  box-shadow: 0 0 10px rgba(66, 178, 200, 0.4);
  letter-spacing: 2px;
}

.button__primary {
  background-color: rgba(66, 178, 200, 0.4);
  border: 0.5px solid rgb(66, 178, 200);
}

.button__secondary {
  border: 0.5px solid;
  background-color: transparent;
}

.toProjectsBtn {
  background-color: #110108;
  margin-bottom: 40px;
  height: 50px;
}

.button-img {
  height: 20px;
  margin: 0 7px -4px 0;
  border-radius: 50%;
}

.tech-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 90vw;
  -webkit-transform: translateX(-5%);
  -ms-transform: translateX(-5%);
  transform: translateX(-5%);
  height: 300px;
  margin-top: 400px;
  overflow: hidden;
}

.tech-stack span {
  display: block;
  width: 5850px;
  height: auto;
  position: absolute;
  overflow: hidden;
  -webkit-animation: marquee 30s linear infinite;
  animation: marquee 30s linear infinite;
}

.tech-stack span:first-child {
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.tech-stack div {
  float: left;
  height: 100px;
  margin: auto 40px;
}

.tech-stack:hover span {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.stack-element img {
  height: 90px;
  margin: auto;
}

@-webkit-keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -2922px;
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -2922px;
  }
}

/*------------Profile Picture animation----------------*/
.profile__picture-wrapper {
  display: inline-block;
  z-index: 0;
  background-image: url(../img/profile-picture-static2.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}

.profile__picture-animated {
  display: inline-block;
  border-radius: 50%;
  z-index: 0;
  height: auto;
  margin-top: 0;
  width: 260px;
  opacity: 0;
}

.profile__picture-animated:hover,
.profile__picture-animated:focus,
.profile__picture-wrapper:hover,
.profile__picture-wrapper:focus {
  opacity: 1;
}

/*------------Profile Picture animation end--------------*/
.profile {
  text-align: center;
  margin-bottom: 80px;
}

.social-media-desktop {
  text-align: center;
  position: fixed;
  bottom: 10%;
  left: 1%;
  width: auto;
  font-size: 50px;
  z-index: 5;
}

.social-media-desktop ul {
  padding-left: 5px;
}

.social-media-desktop li {
  list-style-type: none;
}

.social-media-phone__icon {
  margin: 0 2px;
  border-radius: 30%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(17, 1, 8, 0.9)),
    to(rgba(17, 1, 8, 1))
  );
  background-image: -o-linear-gradient(
    top left,
    rgba(17, 1, 8, 0.9),
    rgba(17, 1, 8, 1)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(17, 1, 8, 0.9),
    rgba(17, 1, 8, 1)
  );
  opacity: 0.8;
  -webkit-box-shadow: 0 0 5px #110108;
  box-shadow: 0 0 5px #110108;
}

.social-media-phone__icon:hover,
.social-media-phone__icon:focus {
  opacity: 1;
}

/*
------------------Contact form----------
*/
.error-message {
  color: red;
  font-size: 16px;
}

.information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
  grid-template-columns: 2fr 2fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 680px;
  background-color: #564054;
  float: right;
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 30px;
  border-radius: 20px;
  padding-left: 100px;
}

.information img {
  height: 55px;
  margin: 10px;
}

.cover-photo {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.contact-form-wrapper {
  width: 40vw !important;
  max-width: 750px;
  max-height: 640px;
  margin-bottom: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #110108;
  z-index: 1;
  position: relative;
  border-radius: 20px;
}

.contact-element {
  width: 75%;
  height: 40px;
  margin: 10px 0;
  text-align: left;
  padding-left: 15px;
  background: #392038;
  border: none;
  border-bottom: 1px solid rgba(66, 178, 200, 0.5);
}

.contact-element::-webkit-input-placeholder {
  color: rgb(66, 178, 200);
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
  text-align: left;
}

.contact-element::-moz-placeholder {
  color: rgb(66, 178, 200);
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
  text-align: left;
}

.contact-element:-ms-input-placeholder {
  color: rgb(66, 178, 200);
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
  text-align: left;
}

.contact-element::-ms-input-placeholder {
  color: rgb(66, 178, 200);
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
  text-align: left;
}

.contact-element::placeholder {
  color: rgb(66, 178, 200);
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
  text-align: left;
}

.contact-form-mail {
  height: 60px;
  width: auto;
}

.form-control {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;
  max-width: 600px;
  background-color: #110108;
  z-index: 999;
}

.form-control input {
  color: rgb(66, 178, 200);
  font-weight: 300;
}

.form-control:nth-child(2) {
  margin-top: 70px;
}

.form-control:nth-child(3) {
  margin-top: 140px;
}

.form-control:nth-child(4) {
  margin-top: 210px;
}

.form-control:nth-child(5) {
  margin-top: 280px;
}

.form-control:nth-child(6) {
  margin-top: 330px;
  margin-bottom: 0;
}

.form-element {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.standard-label {
  text-align: left;
}

.button__submit {
  z-index: 1;
  padding: 5px 75px;
  margin-top: 20px;
  background-color: inherit;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-animation: send 1.5s infinite;
  animation: send 1.5s infinite;
}

.button__submit:hover,
.button__submit:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@-webkit-keyframes send {
  0% {
    -webkit-transform: translate3d(-5px, 5px, 2px);
    transform: translate3d(-5px, 5px, 2px);
  }

  20% {
    -webkit-transform: translate3d(5px, -5px, -2px);
    transform: translate3d(5px, -5px, -2px);
  }

  100% {
    -webkit-transform: translate3d(-5px, 5px, 2px);
    transform: translate3d(-5px, 5px, 2px);
  }
}

@keyframes send {
  0% {
    -webkit-transform: translate3d(-5px, 5px, 2px);
    transform: translate3d(-5px, 5px, 2px);
  }

  20% {
    -webkit-transform: translate3d(5px, -5px, -2px);
    transform: translate3d(5px, -5px, -2px);
  }

  100% {
    -webkit-transform: translate3d(-5px, 5px, 2px);
    transform: translate3d(-5px, 5px, 2px);
  }
}

/*
------------------Contact form end----------
*/
@supports (display: grid) {
  .project-list {
    width: 80%;
    margin: 0;
    margin-bottom: 70px;
  }

  #projects {
    z-index: 1;
  }

  .project-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    width: 100%;
  }

  .pokedex {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/pokedex.PNG);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.7)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/pokedex.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/pokedex.PNG);
    background-position: center;
    background-size: cover;
  }

  .pokedex-bootstrap {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/pokedex-b.PNG);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.7)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/pokedex-b.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/pokedex-b.PNG);
    background-position: center;
    background-size: cover;
  }

  .to-do {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/todo.PNG);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.7)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/todo.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/todo.PNG);
    background-position: center;
    background-size: cover;
  }

  .cinemApp {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/cinemApp.PNG);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.7)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/cinemApp.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/cinemApp.PNG);
    background-position: center;
    background-size: cover;
  }

  .cinemApp-angular {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/cinemApp-angular.PNG);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.7)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/cinemApp-angular.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/cinemApp-angular.PNG);
    background-position: center;
    background-size: cover;
  }

  .meetME {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/meetME.PNG);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.7)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/meetME.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/meetME.PNG);
    background-position: center;
    background-size: cover;
  }

  .chatME {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/chatME.PNG);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.7)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/chatME.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url(../img/chatME.PNG);
    background-position: center;
    background-size: cover;
  }

  .project-list__item {
    border-radius: 15px;
    max-width: 80%;
    margin-bottom: 30px;
    margin-left: 3vw;
    margin-right: 3vw;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 5px 5px 70px #443542;
    box-shadow: 5px 5px 70px #443542;
    padding-bottom: 10%;
    z-index: 1;
  }

  .project-list__item:hover {
    max-width: 85%;
  }

  .project-title,
  .on-project-title {
    margin-top: 0;
    font-size: 42px;
    font-weight: 600;
    color: rgb(66, 178, 200);
    text-shadow: 10px 10px 10px black;
  }

  .on-project-title {
    font-weight: normal;
    margin-top: 20%;
  }

  .btn-container {
    display: inline-block;
    max-width: 450px;
  }

  .project-button {
    text-transform: uppercase;
    font-size: 22px;
    background: #110108;
    margin-bottom: 10%;
    width: 220px;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .project-button:hover::after,
  .project-button:hover::before {
    content: "";
    position: relative;
    margin: 15px;
    border: 2px solid rgba(255, 255, 255, 0.363);
  }

  .project-description {
    font-size: 20px;
    width: 100%;
    margin-top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-bottom: 1px solid rgb(66, 178, 200);
  }

  .project-description:first-child {
    margin-top: 200px;
  }

  .project-details {
    width: 200%;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#110108),
      to(rgba(0, 0, 0, 0.4))
    );
    background-image: -o-linear-gradient(#110108, rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(#110108, rgba(0, 0, 0, 0.4));
    border-radius: 10px;
  }

  .project-img img {
    height: 50px;
    margin: 15px;
    margin-bottom: 35px;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
}

/* -------------------SECTION TWO------------------------ */
.show-more {
  -webkit-transform: translateX(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) rotate(90deg);
  transform: translateX(-50%) rotate(90deg);
  position: fixed;
  bottom: 2%;
  left: 50%;
  width: 100px;
}

.section-two {
  z-index: 1;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  height: auto;
  padding: 0;
  margin: 0;
  background-color: #110108;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.placeholder {
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(214, 255, 245, 1);
  float: left;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}

.hide {
  opacity: 0;
  left: 0;
}

.hidden {
  opacity: 0 !important;
  right: -100%;
}

.visible {
  opacity: 1 !important;
}

.show {
  opacity: 1;
  left: -100%;
}

.text-info {
  /* border: 1px solid black; */
  margin: 0 auto;
  margin-top: 5%;
  width: 60%;
  font-size: 20px;
}

.info-title {
  font-size: 32px;
  font-weight: 300;
  text-align: left;
  color: #564054;
}

.text-left {
  text-align: left;
  color: #564054;
}

.darker-text {
  color: #564054;
}

.school {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 100px;
}

.school-text,
.university-text {
  width: 85%;
  text-align: center;
  margin: auto;
}

.math,
.math2,
.chemistry,
.electricity,
.electricity2,
.drill,
.coding,
.coding2,
.datebase {
  height: 50px;
  margin-top: 5%;
  position: absolute;
  opacity: 0.4;
}

.math {
  top: 15%;
  left: 10%;
}

.math2 {
  top: 38%;
  left: 50%;
}

.drill {
  top: 60%;
  left: 75%;
}

.electricity {
  top: 48%;
  left: 16%;
}

.electricity2 {
  top: 65%;
  left: 39%;
}

.chemistry {
  top: 20%;
  left: 65%;
}

.coding {
  top: 72%;
  left: 66%;
}

.coding2 {
  top: 22%;
  left: 26%;
}

.datebase {
  top: 28%;
  left: 86%;
}

.capital {
  font-size: 50px;
  font-family: "Times New Roman";
  line-height: 1;
}

.date {
  font-size: 60px;
  font-family: "Righteous", cursive;
  text-shadow: 0 0 30px #110108;
  color: rgba(214, 255, 245, 1);
  text-align: center;
  padding: 30px;
}

.bio-img {
  margin-bottom: 10px;
  background-size: cover;
  overflow: visible;
  border: 2px solid rgba(214, 255, 245, 1);
  margin-right: 18px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: inset 15px 0 10px rgba(214, 255, 245, 1),
    inset -15px 0 10px rgba(214, 255, 245, 1);
  box-shadow: inset 15px 0 10px rgba(214, 255, 245, 1),
    inset -15px 0 10px rgba(214, 255, 245, 1);
}

.umftgm {
  background-image: url(./../img/umfst.jpg);
}

.grro {
  background-image: url(./../img/grro.jpg);
}

.sapi {
  background-image: url(./../img/sapi.jpg);
}

.freelance {
  background-image: url(./../img//freelance.jpg);
}

.cf {
  background-image: url(./../img/cf.jpg);
}

.bio-img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/*-----------------------section two end------------------------*/
.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  margin: 0;
}

#contact {
  margin-top: 1000px;
}

/*
--------------------Media Queries-------------------
*/
@media all and (min-width: 1023px) and (max-width: 1200px) {
  #contact {
    margin-top: 1500px;
  }

  .placeholder {
    height: 100%;
  }

  .section-one,
  .profile {
    height: 100vh;
  }

  .main__heading {
    margin: 0;
  }

  .toggler-location-row {
    margin-top: 10%;
  }

  .information {
    margin-top: 0;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .contact-form-wrapper {
    margin-top: 500px;
    width: 80vw;
  }
}

@media all and (min-width: 750px) {
  .social-media-phone {
    display: none;
  }

  body {
    position: relative;
    z-index: 1;
  }

  #menu-toggle {
    display: none;
  }

  .profile__picture-animated {
    margin-top: 5px;
  }

  .project-list {
    grid-gap: 15px;
    padding: 0 35px;
  }

  .contact-form-wrapper {
    height: 700px;
    width: 80vw;
  }
}

@media all and (min-width: 750px) and (max-width: 1023px) {
  .information {
    margin-top: 500px;
    padding: 20px;
  }

  #contact {
    margin-top: 1550px;
  }

  .placeholder {
    height: 160%;
  }

  .text-info {
    margin-top: 150px;
    width: 90%;
    font-size: 24px;
  }

  .about-me {
    width: auto;
  }
}

@media all and (max-width: 750px) {
  .information {
    margin-top: 800px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 20px;
  }

  #contact {
    margin-top: 1600px;
  }

  .about-me__item {
    text-align: center;
  }

  .school {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .project-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .project-list__item {
    max-width: 100%;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin-bottom: 0;
  }

  .project-list__item:hover {
    max-width: 100%;
    margin: 0;
  }

  .project-img img {
    height: 30px;
  }

  .project-details {
    margin-bottom: 10%;
    padding-top: 30px;
    margin: 10px auto;
  }

  .page-header {
    background-image: -o-linear-gradient(
      right,
      rgba(29, 0, 27, 1),
      rgba(29, 0, 27, 1)
    );
    background-image: -webkit-gradient(
      linear,
      right top,
      left top,
      from(rgba(29, 0, 27, 1)),
      to(rgba(29, 0, 27, 1))
    );
    background-image: linear-gradient(
      to left,
      rgba(29, 0, 27, 1),
      rgba(29, 0, 27, 1)
    );
  }

  .page-heading {
    font-size: 22px;
    font-weight: 400;
  }

  .main-about {
    display: block;
    z-index: 1;
  }

  .about-me {
    margin-bottom: 25px;
  }

  .about-me p {
    font-size: 18px;
    padding: 0;
  }

  .about-me h1 {
    font-weight: 400;
  }

  .button-container {
    margin: 0;
  }

  .personal-logo {
    height: 50px;
    margin-left: 5vw;
  }

  body {
    position: relative;
    z-index: -1;
    /*placed behind the profile picture to be able to click that*/
  }

  .section-one {
    position: relative;
    z-index: -1;
    /*placed behind the profile picture to be able to click that*/
  }

  .section-two {
    height: 260%;
    margin-bottom: 60px;
  }

  .profile {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    /* z-index: -1; */
    /*placed behind the profile picture to be able to click that*/
  }

  .profile__picture-wrapper {
    width: 100%;
    height: 284px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    background-image: url(../img/profile-picture-static-phone.svg);
    z-index: 2;
    /* placed forward*/
  }

  .mobile-nav-list__item,
  ul.mobile-nav-list li {
    z-index: 2;
  }

  .button {
    font-size: 90%;
  }

  h1,
  .about-me h1 {
    font-size: 22px;
  }

  .toggler-location-row {
    font-size: 28px;
    padding: 0;
  }

  .page__footer {
    background-image: -o-linear-gradient(
      right,
      rgba(17, 1, 8, 0.9),
      rgba(17, 1, 8, 1)
    );
    background-image: -webkit-gradient(
      linear,
      right top,
      left top,
      from(rgba(17, 1, 8, 0.9)),
      to(rgba(17, 1, 8, 1))
    );
    background-image: linear-gradient(
      to left,
      rgba(17, 1, 8, 0.9),
      rgba(17, 1, 8, 1)
    );
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: 60px;
    z-index: 999;
  }

  .page__footer-text {
    margin: 0;
    color: #e3dfe3;
  }

  .social-media-phone ul {
    padding: 0;
  }

  .social-media-phone li {
    display: inline-block;
    padding: 0 5px;
  }

  .social-media-desktop {
    display: none;
  }

  .main__heading {
    font-size: 52px;
  }

  .navigation-list {
    display: none;
  }

  #menu-toggle {
    position: absolute;
    right: 30px;
    top: 88px;
  }

  .navigation-list__item::before,
  .navigation-list__item::after {
    display: none;
  }

  .copyright {
    display: none;
  }

  .toProjectsBtn {
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

@media all and (max-width: 500px) {
  #contact {
    margin-top: 1900px;
  }

  #rotating-text span {
    font-size: 42px;
    width: auto;
    padding-left: 0;
  }

  .main__heading {
    margin-bottom: 50px;
  }

  body {
    position: relative;
    z-index: 1;
    background-color: rgb(29, 0, 27);
    /*placed behind the profile picture to be able to click that*/
  }

  .profile__picture-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    background-image: url(../img/profile-picture-static-phone.svg);
    z-index: 2;
    /* placed forward*/
  }

  .contact-form-wrapper {
    width: 80vw !important;
    margin-top: 40px;
    z-index: 999;
  }

  #projects {
    width: 100vw;
    margin: 0;
    -webkit-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
  }

  .project-list__item {
    margin-bottom: 20px;
  }

  .project-description {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .project-description img {
    height: 30px;
  }

  .project-details {
    padding-top: 45%;
  }

  .project-button {
    width: 80%;
  }

  .button-container {
    margin-top: 80px;
  }

  .text-info {
    width: 90%;
    font-size: 16px;
  }
}

@media all and (max-width: 1200px) {
  .project-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: auto;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .project-details {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: -100px;
  }

  .project-description {
    width: 100%;
  }
}

/*
----------------------media queries end-------------------
*/
