/*
-----------------COLOR PALETTE-----------------
#1D001B ----------main--------
29, 0, 27
#392038
57, 32, 56
#564054
86, 64, 84
#726071
114, 96, 113
#8E808D
142, 128, 141
#AA9FAA
170, 159, 170
#C7BFC6
199, 191, 198
#E3DFE3
227, 223, 227
Background color: #fcf9f0;
Menubar color: #F2ECDC;
Highlighting Red: #981209;
Text Color (Dark Gray): #2b2b2b;
Main Headline color (Black): #171717;
*/
:root {
  --background-color: linear-gradient(to bottom right, rgba(29, 0, 27, .9), rgba(29, 0, 27, 1));
  --menu-color: linear-gradient(to left, rgba(29, 0, 27, .1), rgba(29, 0, 27, 1));
  --heading-color: #E3DFE3;
  --text-color: #564054;
  --deep-black: #171717;
  --big-font-size: 30px;
  --medium-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  --complete-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-image: var(--background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #C7BFC6;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  max-width: 1500px;
  margin: auto;
  text-align: center;
}

h1 {
  color: var(--heading-color);
  font-size: var(--big-font-size);
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px;
  padding-bottom: 10px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
}

h3 {
  color: #8E808D;
  font-size: 22px;
  font-weight: 300;
}

p {
  color: #AA9FAA;
}

main {
  margin: 40px 20px 0 20px;
}

.page-header {
  display: flex;
  padding-top: 0;
  width: var(--complete-width);
  max-width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: var(--menu-color);
  /*  box-shadow: var(--medium-box-shadow);*/
}

.personal-logo {
  width: 150px;
  margin-left: 75px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list,
.mobile-nav-list {
  list-style-type: none;
}

/*Navigation animation NOT WORKING PROPERLY */
.navigation-list__item:before,
.navigation-list__item:after {
  position: absolute;
  width: var(--complete-width);
  height: 1px;
  background: #000;
  content: "";
  padding-right: 2px;
  opacity: 0;
  transition: all .3s;
}

.navigation-list__item:before {
  top: 0px;
  transform: translateY(50px);
  width: auto;
}

.navigation-list__item:after {
  bottom: 0px;
  display: flex;
  flex-direction: row-reverse;
  transform: translateY(-5px);
  width: 100%;
  background-color: #392038;
}

.navigation-list__item:hover:before,
.navigation-list__item:hover:after {
  opacity: 1;
  transform: translate(0);
}

/* navigation animation end */
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  width: auto;
  border-radius: 5px;
}

.navigation-list {
  margin-right: 80px;
  padding-left: 0;
}

.navigation-list__item,
.mobile-nav-list__item {
  color: #414463;
  font-weight: 300;
  text-decoration: none;
}

.navigation-list__item:visited {
  color: var(--heading-color);
}

.navigation-list__item:hover,
.navigation-list__item:focus {
  text-decoration: none;
  text-shadow: 0 0 2px white;
}

.navigation-list__item:active {
  color: #000;
}

.navigation-list__item {
  color: var(--heading-color);
}

/*---------------Mobile Navigation--------------*/
#menu-toggle {
  display: block;
  position: relative;
  top: 50px;
  right: 5px;
}

#menu-toggle input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: -70px;
  cursor: pointer;
  opacity: 0;
  /* hide the checkbox */
  z-index: 2;
  /* and place it over the hamburger */
}

#menu-toggle span {
  display: block;
  position: relative;
  right: 0px;
  top: -50px;
  background: black;
  height: 3px;
  width: 40px;
  margin-bottom: 7px;
}

.hamburger__lines {
  display: block;
  position: absolute;
  right: 0px;
  top: -25px;
}

.mobile-nav-list {
  background-image: var(--background-color);
  width: 350px;
  height: 370px;
  text-align: right;
  margin-top: -58px;
  padding-left: 0;
  border-radius: 0 0 0 25px;
  box-shadow: var(--medium-box-shadow);
}

.mobile-nav-list li {
  margin-top: 20px;
}

.mobile-nav-list__item {
  text-align: right;
  padding-right: 55px;
  color: var(--heading-color);
  font-size: 48px;
  border-bottom: 2px solid var(--deep-black);
}

.line,
.mobile-nav-list {
  transition: all 0.5s ease;
  font-size: 28px;
}

.mobile-nav {
  width: 50px;
  position: relative;
}

#checkbox:checked~.hamburger__lines span {
  transform: rotate(45deg);
}

#checkbox:checked~.hamburger__lines span:first-child {
  transform: rotate(-45deg) translate(-6.5px, 6.5px);
}

#checkbox:checked~.hamburger__lines span:last-child {
  opacity: 0;
  transform: rotate(0deg) translateX(65px);
}

#checkbox:checked~.mobile-nav-list {
  display: block;
  opacity: 1;
  transform: translateX(-255px);
  position: relative;
  z-index: 5;
}

#checkbox~.mobile-nav-list {
  display: block;
  opacity: 0;
  transform: translateX(75px);
}

/*------------------mobile nav end----------*/
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.button-container a {
  z-index: 1;
}

.main__heading {
  font-size: 90px;
  font-weight: 300;
  margin: 10px 0;
  padding: 0;
}

.main__paragraph {
  font-size: var(--big-font-size);
  padding: 0 30px;
}

h3.main__paragraph {
  margin-top: 15px;
}

/*
------------------Title toggler--------------
*/
#toggler {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}

.toggler-row,
.toggler-location-row{
  text-align: center;
  margin: 0;
  height: 50px;
  padding: 5px;
  font-size: 40px;
}

.toggler-location-row{
  margin-top: 40px;
}

.programmer-text{
  font-family: 'Inconsolata', monospace;
  color: #F8BA5C;
}

.designer-text{
  font-family: 'Dancing Script', cursive;
  color: #42B2C8;
}

.developer-text{
  font-family: inherit;
  color: #FF0000;
}

.located-icon{
  height: 50px;
  margin-bottom: -5px;
}

#text-wrapper {
  height: 65px;
  padding: 0;
  overflow: hidden;
  display: block;
}

#rotating-text span {
  padding: 15px 12px;
  height: 120px;
  display: block;
  width: 360px;
  margin: 0 auto;
  font-size: 52px;
}

#rotating-text {
    display: block;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: translateY(-400px);
    }

    5% {
        transform: translateY(-275px);
    }

    33% {
        transform: translateY(-265px);
    }

    38% {
        transform: translateY(-155px);
    }

    66% {
        transform: translateY(-145px);
    }

    71% {
        transform: translateY(-34px);
    }

    99.9% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(-200px);
    }
}

/*
----------------Title toggler end------------
*/
button,
.button {
  display: inline-block;
  background-color: #9fe0b1;
  border: none;
  /* fallback color*/
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: var(--deep-black);
  font-family: inherit;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
  opacity: .8;
  transition: opacity .3s, box-shadow .3s ease-in-out;
  margin: 0 10px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 1;
  box-shadow: var(--medium-box-shadow);
}

.button__secondary {
  background-color: #f7cf92;
}

.button-img {
  height: 20px;
  margin: 0 7px -4px 0;
  border-radius: 50%;
}

/*------------Profile Picture animation----------------*/
.profile__picture-wrapper {
  display: inline-block;
  z-index: 0;
  background-image: url(../img/profile-picture-static2.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: .7;
}

.profile__picture-animated {
  display: inline-block;
  border-radius: 50%;
  z-index: 0;
  height: auto;
  margin-top: 0;
  width: 260px;
  opacity: 0;
}

.profile__picture-animated:hover,
.profile__picture-animated:focus,
.profile__picture-wrapper:hover,
.profile__picture-wrapper:focus {
  opacity: 1;
}

/*------------Profile Picture animation end--------------*/
.profile {
  text-align: center;
  margin-bottom: 60px;
}

.social-media-desktop {
  text-align: center;
  position: fixed;
  bottom: 10%;
  left: 1%;
  width: auto;
  font-size: 50px;
}

.social-media-desktop ul {
  padding-left: 5px;
}

.social-media-desktop li {
  list-style-type: none;
}

.social-media-phone__icon {
  margin: 0 2px;
  border-radius: 30%;
  background-image: var(--background-color);
  opacity: .5;
}

.social-media-phone__icon:hover,
.social-media-phone__icon:focus {
  opacity: .8;
}

.svg-town {
  margin-top: 30px;
  text-align: center;
}

.berlin-illustration {
  max-width: 100%;
}

/*--------------ANIMATIONS-------------*/
@-webkit-keyframes color-change {
  0% {
    fill: #ffee00;
  }

  25% {
    fill: #ffbf00;
  }

  50% {
    fill: #ff8800;
  }

  75% {
    fill: #ff4d00;
  }
}

@keyframes color-change {
  0% {
    fill: #ffee00;
  }

  25% {
    fill: #ffbf00;
  }

  50% {
    fill: #ff8800;
  }

  75% {
    fill: #ff4d00;
  }
}

@-webkit-keyframes cloud-move {
  0% {
    transform: translate(0, 50px);
  }

  50% {
    transform: translate(200px, 50px);
  }

  100% {
    transform: translate(0, 50px);
  }
}

@keyframes cloud-move {
  0% {
    transform: translate(0, 50px);
  }

  50% {
    transform: translate(200px, 50px);
  }

  100% {
    transform: translate(0, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  -webkit-animation: 10s color-change infinite alternate ease-in;
  animation: 10s color-change infinite alternate ease-in;
}

.cloud-front {
  -webkit-animation: 50s cloud-move infinite alternate ease-in-out;
  animation: 50s cloud-move infinite alternate ease-in-out;
}

.cloud-back {
  -webkit-animation: 25s cloud-move-reverse infinite alternate linear;
  animation: 25s cloud-move-reverse infinite alternate linear;
}

/*--------------ANIMATIONS END-------------*/
/*
------------------Contact form----------
*/
.form-control {
  display: flex;
  margin: 5px 0;
  width: var(--complete-width);
  justify-content: center;
}

.form-element {
  flex: 0 1 200px;
}

.button__submit {
  padding: 5px 75px;
}

/*
------------------Contact form end----------
*/
/*fallback*/
.project-list__item {
  display: inline-block;
  width: 33%;
}

/*end fallback*/
@supports (display: grid) {
  .project-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 300px 300px;*/
    margin: 0;
    margin-bottom: 70px;
  }

  .project-list__item {
    background-color: rgba(104, 12, 6, 0.1);
    border-radius: 10px;
    min-height: auto;
    margin: 0;
    padding: 0 5px;
    width: auto;
  }

  .project-list__item:last-child {
    grid-column: 3/3;
    grid-row: 1/3;
  }

  .project-list__full-row-item {
    grid-column: 1/4;
    grid-row: 3/3;
  }
}

.about-me,
.table {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 70px;
  padding-bottom: 20px;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.about-me__item{
  padding: 10px 40px;

}

.table-header-x {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table-header-y,
.table-header-x:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/*
--------------------Media Queries-------------------
*/
@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
  }

  .button-container {
    display: grid;
  }

  .button {
    width: var(--complete-width);
    display: block;
    margin: 5px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 750px) {
  #menu-toggle {
    display: none;
  }

  .profile__picture-animated {
    margin-top: 5px;
  }

  .social-media-phone {
    display: none;
  }

  .project-list {
    grid-gap: 15px;
    padding: 0 35px;
  }
}

@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 10px;
  }

  .project-list__item:last-child,
  .project-list__full-row-item {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .personal-logo {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .profile {
    align-items: center;
    padding-bottom: 60px;
  }

  .profile__picture-wrapper {
    width: var(--complete-width);
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../img/profile-picture-static-phone.svg);
    z-index: 1;
  }

  h1 {
    font-size: 22px;
  }

  .toggler-location-row{
    font-size: 28px;
    padding: 0;
  }

  .page__footer {
    background-image: var(--menu-color);
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: 60px;
  }

  .page__footer-text {
    margin: 0;
    color: var(--heading-color);
  }

  .social-media-phone ul {
    padding: 0;
  }

  .social-media-phone li {
    display: inline-block;
    padding: 0 5px;
  }

  .social-media-desktop {
    display: none;
  }

  .main__heading {
    font-size: 44px;
  }

  .navigation-list {
    display: none;
  }

  #menu-toggle {
    position: absolute;
    right: 30px;
    top: 88px;
  }

  .navigation-list__item:before,
  .navigation-list__item:after {
    display: none;
  }
}

/*
----------------------media queries end-------------------
*/
