/*
-----------------COLOR PALETTE-----------------
var(--darkest-purple) ----------main--------
29, 0, 27
#392038
57, 32, 56
#564054
86, 64, 84
#726071
114, 96, 113
#8E808D
142, 128, 141
#AA9FAA
170, 159, 170
#C7BFC6
199, 191, 198
var(--heading-color)
227, 223, 227
*/
:root {
  --background-color: linear-gradient(
    to bottom right,
    rgba(17, 1, 8, 0.9),
    rgba(17, 1, 8, 1)
  );
  --menu-color: linear-gradient(
    to left,
    rgba(29, 0, 27, 0.1),
    rgba(29, 0, 27, 1)
  );
  --heading-color: #e3dfe3;
  --turquoise-hightight: rgb(55, 187, 180);
  --text-color: #564054;
  --darkest-purple: rgb(10, 1, 1);
  /* --darkest-purple: #110108; */
  --deep-black: #171717;
  --biggest-font: 42px;
  --big-font-size: 30px;
  --medium-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  --complete-width: 100%;
  --almost-white: rgba(214, 255, 245, 1);
}

* {
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: none !important;
}

::-webkit-scrollbar {
  width: 1px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: rgba(17, 1, 8, 1);
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgba(6, 1, 1, 0.9),
    rgba(6, 1, 1, 0.95)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #c7bfc6;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 100vw;
  margin: auto 10%;
  text-align: center;
  cursor: none !important;
}

img,
label {
  cursor: none;
}

h1 {
  color: var(--heading-color);
  font-size: var(--big-font-size);
  font-weight: 700;
  border-bottom: 1px solid var(--turquoise-hightight);
  padding: 30px;
  padding-bottom: 10px;
  text-shadow: 2px 1px var(--darkest-purple);
}

h2 {
  font-size: 24px;
  font-weight: 300;
}

h3 {
  color: var(--heading-color);
  font-size: 22px;
  font-weight: 300;
}

p {
  color: var(--heading-color);
}

main {
  position: relative;
  margin: 40px 20px 0;
  z-index: -2;
  height: 80vh;
}

.workHtml {
  font-family: "Quicksand", sans-serif;
  cursor: none !important;
}

.page-heading {
  font-size: var(--biggest-font);
  text-align: left;
  padding: 10px 30px;
  text-shadow: 1px 2px var(--darkest-purple);
}

.image-hero-area {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  margin: 0;
  background: url(../img/bg-homeoffice.png) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
-----------------ABOUT PAGE----------------
*/
.main-navigation {
  background-color: var(--darkest-purple);
}

#navLine {
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: var(--turquoise-hightight);
}

.body-about {
  width: 100%;
  margin-top: 400px;
  /* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  ); */
}

.main-about {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.about-me__img img {
  position: fixed;
  bottom: 0;
  right: 0;
  max-height: 80%;
  max-width: 80%;
  transform: scaleX(-1);
}

#poster {
  z-index: 5;
  opacity: 0;
}

.about-me {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 70px;
  padding-bottom: 20px;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--darkest-purple);
  box-shadow: 0 0 100px 100px var(--darkest-purple);
}

.about-me h1 {
  font-size: var(--biggest-font);
  color: white;
}

.about-me__item {
  color: rgb(233, 233, 233);
  mix-blend-mode: screen;
  font-size: 18px;
  text-align: left;
  padding: 10px 30px;
}

/*-----------------about page end----------------*/

.page-header {
  display: flex;
  padding-top: 0;
  width: var(--complete-width);
  max-width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--darkest-purple);
  z-index: 100;
  /*  box-shadow: var(--medium-box-shadow);*/
}

.personal-logo {
  width: 105px;
  margin-left: 10vw;
  background-color: var(--darkest-purple);
  padding: 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list,
.mobile-nav-list {
  list-style-type: none;
}

/*Navigation animation */
.navigation-list__item:before,
.navigation-list__item:after {
  position: absolute;
  width: var(--complete-width);
  height: 1px;
  background: #000;
  content: "";
  padding-right: 2px;
  opacity: 0;
  transition: all 0.3s;
}

.navigation-list__item:before {
  top: 0px;
  transform: translateY(50px);
  width: auto;
}

.navigation-list__item:after {
  bottom: 0px;
  display: flex;
  flex-direction: row-reverse;
  transform: translateY(-5px);
  width: 100%;
  background-color: var(--turquoise-hightight);
}

.navigation-list__item:hover:before,
.navigation-list__item:hover:after {
  opacity: 1;
  transform: translate(0);
}

/* navigation animation end */
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  width: auto;
  border-radius: 5px;
}

.navigation-list {
  margin-right: 80px;
  padding-left: 0;
}

.navigation-list__item,
.mobile-nav-list__item {
  color: var(--heading-color);
  font-weight: 600;
  text-decoration: none;
}

.navigation-list__item:visited {
  color: var(--heading-color);
}

.navigation-list__item:hover,
.navigation-list__item:focus {
  text-decoration: none;
  text-shadow: 0 0 2px white;
}

.navigation-list__item:active {
  color: #000;
}

.navigation-list__item {
  color: var(--heading-color);
}

/*---------------Mobile Navigation--------------*/
#menu-toggle {
  display: block;
  position: relative;
  top: 50px;
  right: 5px;
}

#menu-toggle input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: -70px;
  cursor: pointer;
  opacity: 0;
  /* hide the checkbox */
  z-index: 2;
  /* and place it over the hamburger */
}

#menu-toggle span {
  display: block;
  position: relative;
  right: 0px;
  top: -50px;
  background: var(--turquoise-hightight);
  height: 3px;
  width: 40px;
  margin-bottom: 7px;
}

.hamburger__lines span {
  border-radius: 10px;
}

.hamburger__lines {
  display: block;
  position: absolute;
  right: 0px;
  top: -25px;
}

.mobile-nav-list {
  background-color: var(--darkest-purple);
  width: 400px;
  height: 390px;
  text-align: right;
  margin-top: -58px;
  padding-left: 0;
  box-shadow: var(--medium-box-shadow);
}

.mobile-nav-list li {
  margin-top: 20px;
}

.mobile-nav-list__item {
  text-align: right;
  padding-right: 55px;
  color: var(--heading-color);
  font-size: 28px;
  border-bottom: 1px solid var(--turquoise-hightight);
}

.line,
.mobile-nav-list {
  transition: all 0.5s ease;
  font-size: 28px;
}

.mobile-nav {
  width: 50px;
  position: relative;
}

#checkbox:checked ~ .hamburger__lines span {
  transform: rotate(45deg);
}

#checkbox:checked ~ .hamburger__lines span:first-child {
  transform: rotate(-45deg) translate(-6.5px, 6.5px);
}

#checkbox:checked ~ .hamburger__lines span:last-child {
  opacity: 0;
  transform: rotate(0deg) translateX(65px);
}

#checkbox:checked ~ .mobile-nav-list {
  display: block;
  opacity: 1;
  transform: translate3d(-320px, 0px, 150px);
  position: relative;
  z-index: 5;
}

#checkbox ~ .mobile-nav-list {
  display: block;
  opacity: 0;
  transform: translate3d(150px, -250px, -50px);
}

/*------------------mobile nav end----------*/
/*
----------------------PARALLAX effect-------------------
*/
.parallax-container {
  position: absolute;
  width: 100%;
  height: 70%;
  display: flex;
}

.white-part {
  position: fixed;
  top: 51%;
  left: -10%;
  width: 70%;
  height: 80%;
  background-image: linear-gradient(
    rgba(214, 255, 245, 1),
    rgba(235, 255, 250, 1)
  );
  z-index: -9999;
  transform: rotate(4deg);
}

.white-part-two {
  position: fixed;
  left: 40%;
  transform: rotate(-4deg);
}

/*-------------------PARALLAX effect end----------------*/
.main__heading {
  font-family: "Titillium Web", sans-serif;
  font-size: 90px;
  font-weight: 300;
  margin: 1px 0;
  padding: 0;
  border: 0;
}

.name-highlight {
  font-weight: 600;
  color: #bb373e;
}

.main__paragraph {
  font-size: var(--big-font-size);
  padding: 0 30px;
}

h3.main__paragraph {
  margin-top: 15px;
}

/*
------------------Title toggler--------------
*/
#toggler {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}

.toggler-row,
.toggler-location-row {
  text-align: center;
  display: block;
  height: 50px;
  padding: 5px;
  font-size: 40px;
}

.toggler-location-row {
  color: #726071;
  margin-top: 40px;
}

.located-icon {
  height: 50px;
  margin-bottom: -5px;
  border-radius: 10px;
}

.static-text {
  margin: 0;
}

.programmer-text {
  color: var(--turquoise-hightight);
  font-family: "Inconsolata", monospace;
}

.designer-text {
  color: var(--turquoise-hightight);
  font-family: "Grechen Fuemen", cursive;
}

.developer-text {
  color: white;
  font-family: inherit;
}

#text-wrapper {
  display: block;
  height: 65px;
  overflow: hidden;
  padding: 0;
}

#rotating-text span {
  display: block;
  font-size: 52px;
  height: 120px;
  margin: 0 auto;
  padding: 15px 0;
  width: 360px;
}

#rotating-text {
  animation: rotate 5s linear infinite;
  display: block;
}

@keyframes rotate {
  0% {
    transform: translateY(-400px);
  }

  5% {
    transform: translateY(-275px);
  }

  33% {
    transform: translateY(-265px);
  }

  38% {
    transform: translateY(-155px);
  }

  66% {
    transform: translateY(-145px);
  }

  71% {
    transform: translateY(-34px);
  }

  99.9% {
    transform: translateY(-24px);
  }

  100% {
    transform: translateY(-200px);
  }
}

/*
----------------Title toggler end------------
*/
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  z-index: 2;
}

.button-container a {
  z-index: 2;
}

button,
.button {
  display: inline-block;
  color: var(--turquoise-hightight);
  width: 220px;
  font-family: inherit;
  font-weight: 400;
  padding: 10px 0;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s all ease-in-out;
  margin: 0 10px;
  border: none;
  z-index: 6;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 0 10px rgba(66, 178, 200, 0.4);
  letter-spacing: 2px;
}

.button__primary {
  background-color: rgba(66, 178, 200, 0.4);
  border: 0.5px solid var(--turquoise-hightight);
}

.button__secondary {
  border: 0.5px solid;
  background-color: transparent;
}

.toProjectsBtn {
  text-transform: uppercase;
  background-color: var(--turquoise-hightight);
  color: var(--darkest-purple);
  margin-bottom: 40px;
  height: 50px;
  border: 1px solid var(--turquoise-hightight);
  z-index: 999;
}

.button-img {
  height: 20px;
  margin: 0 7px -4px 0;
  border-radius: 50%;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  width: 90vw;
  transform: translateX(-5%);
  height: 300px;
  margin-top: 400px;
  overflow: hidden;
}

.tech-stack span {
  display: block;
  width: 5850px;
  height: auto;
  position: absolute;
  overflow: hidden;
  animation: marquee 30s linear infinite;
}

.tech-stack span:first-child {
  transform: translateX(50%);
}

.tech-stack div {
  float: left;
  height: 100px;
  margin: auto 40px;
}

.tech-stack:hover span {
  animation-play-state: paused;
}

.stack-element img {
  height: 90px;
  margin: auto;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -2922px;
  }
}

/*------------Profile Picture animation----------------*/
.profile__picture-wrapper {
  display: inline-block;
  z-index: 0;
  background-image: url(../img/profile-picture-static2.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}

.profile__picture-animated {
  display: inline-block;
  border-radius: 50%;
  z-index: 0;
  height: auto;
  margin-top: 0;
  width: 260px;
  opacity: 0;
}

.profile__picture-animated:hover,
.profile__picture-animated:focus,
.profile__picture-wrapper:hover,
.profile__picture-wrapper:focus {
  opacity: 1;
}

/*------------Profile Picture animation end--------------*/
.profile {
  text-align: center;
  margin-bottom: 80px;
}

.social-media-desktop {
  text-align: center;
  position: fixed;
  bottom: 10%;
  left: 1%;
  width: auto;
  font-size: 50px;
  z-index: 5;
}

.social-media-desktop ul {
  padding-left: 5px;
}

.social-media-desktop li {
  list-style-type: none;
}

.social-media-phone__icon {
  margin: 0 2px;
  border-radius: 30%;
  background-image: var(--background-color);
  opacity: 0.8;
  box-shadow: 0 0 5px var(--darkest-purple);
}

.social-media-phone__icon:hover,
.social-media-phone__icon:focus {
  opacity: 1;
}

/*
------------------Contact form----------
*/
.error-message {
  color: red;
  font-size: 14px;
  position: relative;
  z-index: 9998;
}

.info-wrapper {
  position: relative;
  z-index: 55;
  margin-top: 150px;
}

.information {
  background-image: url(../img/cover-photo.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  font-size: 30px;
  border-radius: 12px 12px 0 0;

  box-shadow: 5px 5px 15px rgba(55, 187, 180, 0.3);
  z-index: 54;
}

.information img {
  height: 55px;
  margin: 10px;
}

.social-info {
  width: 100%;
  height: 300px;
  background-color: rgba(1, 1, 1, 0.7);
  box-shadow: 0 0 25px rgba(1, 1, 1, 1);
}

.social-info a,
.social-info a:visited {
  color: transparent;
}

#contact {
  margin-top: 100px;
}

.contact-form-wrapper {
  width: 40vw !important;
  max-width: 750px;
  max-height: 640px;
  margin-bottom: 50px;
  align-items: center;
  background-color: var(--darkest-purple);
  z-index: 1;
  position: relative;
  border-radius: 20px;
}

.contact-element {
  width: 75%;
  height: 40px;
  margin: 10px 0;
  text-align: left;
  padding-left: 15px;
  background: rgba(66, 178, 200, 0.2);
  border: none;
  border-bottom: 1px solid rgba(66, 178, 200, 0.5);
}

.contact-element::placeholder {
  color: var(--turquoise-hightight);
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
  text-align: left;
}

.contact-form-mail {
  height: 60px;
  width: auto;
  color: var(--turquoise-hightight);
}

.form-control {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;
  max-width: 600px;
  background-color: var(--darkest-purple);
}

.form-control input {
  color: var(--turquoise-hightight);
  font-weight: 300;
}

.form-control:nth-child(2) {
  margin-top: 70px;
}

.form-control:nth-child(3) {
  margin-top: 140px;
}

.form-control:nth-child(4) {
  margin-top: 210px;
}

.form-control:nth-child(5) {
  margin-top: 280px;
}

.form-control:nth-child(6) {
  margin-top: 330px;
  margin-bottom: 0;
}

.form-element {
  flex: 0 1 200px;
}

.standard-label {
  text-align: left;
}

.button__submit {
  z-index: 1;
  padding: 5px 75px;
  margin-top: 20px;
  background-color: inherit;
  border: none;
  box-shadow: none;
  animation: send 1.5s infinite;
}

.button__submit:hover,
.button__submit:active {
  box-shadow: none;
}

@keyframes send {
  0% {
    transform: translate3d(-5px, 5px, 2px);
  }

  20% {
    transform: translate3d(5px, -5px, -2px);
  }

  100% {
    transform: translate3d(-5px, 5px, 2px);
  }
}

/*
------------------Contact form end----------
*/

/*
-----------------STACK---------------------------
*/

#techStack {
  background-color: rgba(10, 1, 1, 0.4);
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(55, 187, 180, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 100;
  border-radius: 20px;
  width: 90%;
  margin: auto;
}

#techStack div {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#techStack img {
  height: 35px;
  border-radius: 5px;
  background-color: var(--heading-color);
  border: 1px solid var(--heading-color);
}

#techStack progress {
  width: 100px;
}

progress {
  border: none;
  width: 400px;
  height: 5px;
}

progress {
  color: var(--turquoise-hightight);
}

progress::-webkit-progress-value {
  background: var(--turquoise-hightight);
}

progress::-moz-progress-bar {
  background: var(--text-color);
}

progress::-webkit-progress-value {
  background: var(--turquoise-hightight);
}

progress::-webkit-progress-bar {
  background: var(--text-color);
}
/*
-----------------STACK---------------------------
*/

@supports (display: grid) {
  .project-list {
    margin: 0;
    margin-bottom: 70px;
  }

  #projects {
    height: 2200px;
    z-index: 1;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .pokedex {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.3)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/pokedex.PNG);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/pokedex.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/pokedex.PNG);
    background-position: center;
    background-size: cover;
  }

  .pokedex-bootstrap {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.3)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/pokedex-b.PNG);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/pokedex-b.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/pokedex-b.PNG);
    background-position: center;
    background-size: cover;
  }

  .to-do {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.3)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/todo.PNG);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/todo.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/todo.PNG);
    background-position: center;
    background-size: cover;
  }

  .quote {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.3)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/quote.PNG);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/quote.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/quote.PNG);
    background-position: center;
    background-size: cover;
  }

  .markdown {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.3)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/markdown.PNG);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/markdown.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/markdown.PNG);
    background-position: center;
    background-size: cover;
  }

  .cinemApp {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.3)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/cinemApp.PNG);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/cinemApp.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/cinemApp.PNG);
    background-position: center;
    background-size: cover;
  }

  .cinemApp-angular {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.3)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/cinemApp-angular.PNG);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/cinemApp-angular.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/cinemApp-angular.PNG);
    background-position: center;
    background-size: cover;
  }

  .meetME {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.3)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/meetME.PNG);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/meetME.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/meetME.PNG);
    background-position: center;
    background-size: cover;
  }

  .chatME {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.3)),
        to(rgba(0, 0, 0, 0.5))
      ),
      url(../img/chatME.PNG);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/chatME.PNG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url(../img/chatME.PNG);
    background-position: center;
    background-size: cover;
  }

  .project-list__item {
    border-radius: 15px;
    width: 100%;
    height: 500px;
    margin-left: 3vw;
    margin-right: 3vw;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 0 0 5px #443542;
    box-shadow: 0 0 10px #443542;
    padding-bottom: 10%;
    z-index: 1;
  }

  .project-list__item:hover {
    width: 105%;
  }

  .project-title,
  .on-project-title {
    margin-top: 0;
    font-size: 42px;
    font-weight: 600;
    color: var(--turquoise-hightight);
    text-shadow: 2px 2px black;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }

  .on-project-title {
    font-weight: normal;
    margin-top: 20%;
  }

  .btn-container {
    display: inline-block;
    max-width: 450px;
  }

  .project-button {
    text-transform: uppercase;
    font-size: 22px;
    background: var(--darkest-purple);
    margin-bottom: 10%;
    width: 220px;
    transition: 0.2s ease-in-out;
  }

  .project-button:hover::after,
  .project-button:hover::before {
    content: "";
    position: relative;
    margin: 15px;
    border: 2px solid rgba(255, 255, 255, 0.363);
  }

  .project-description {
    font-size: 20px;
    border-bottom: 1px solid var(--turquoise-hightight);
  }

  .project-description:first-child {
    margin-top: 20px;
  }

  .project-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(
      var(--darkest-purple),
      rgba(2, 0, 1, 0.7)
    ); */
    padding: 15px;
    margin: 45px 0;
    border-radius: 20px;
  }

  .project-details {
    max-width: 40%;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px;
  }

  .project-img img {
    height: 50px;
    margin: 15px;
    margin-bottom: 35px;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
}

/* -------------------SECTION TWO------------------------ */
.show-more {
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  border-radius: 50%;
  width: 80px;
  animation: scroll 1s infinite alternate;
  z-index: -1;
}

@keyframes scroll {
  from {
    transform: translateY(0px) translateX(-30px);
  }
  to {
    transform: translateY(5px) translateX(-30px);
  }
}

.section-two {
  z-index: 1;
  width: 100vw;
  position: relative;
  left: -10%;
  top: -400px;
  bottom: 400px;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: var(--darkest-purple);
  display: flex;
  justify-content: center;
}

.placeholder {
  z-index: 2;
  height: 100%;
  width: var(--complete-width);
  float: left;
  transition: all 1.5s;
}

.hide {
  opacity: 0;
  left: 0;
}

.hidden {
  opacity: 0;
  transition: 1s;
}

.visible {
  opacity: 0.4 !important;
  transition: 1s;
}

.show {
  opacity: 1;
  left: -100%;
}

.text-info {
  /* border: 1px solid black; */
  margin: 0 auto;
  margin-top: 5%;
  width: 80%;
  font-size: 20px;
}

.info-title {
  font-size: 32px;
  font-weight: 300;
  text-align: left;
  color: var(--almost-white);
}

.text-left {
  text-align: left;
  color: var(--almost-white);
}

.darker-text {
  color: var(--almost-white);
}

.school {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.u-text {
  border-bottom: 1px solid var(--turquoise-hightight);
}

.capital {
  font-size: 50px;
  font-family: "Times New Roman";
  line-height: 1;
}

.date {
  font-size: 50px;
  font-family: "Righteous", cursive;
  text-shadow: 0 0 10px var(--almost-white);
  color: var(--darkest-purple);
  text-align: center;
  margin: auto;
  font-weight: 900;
  padding: 30px;
}

.bio-img {
  height: 200px;
  margin-bottom: 10px;
  background-size: cover;
  overflow: visible;
  border-radius: 10px;
  margin-right: 18px;
  transition: 0.4s;
  box-shadow: inset 15px 0 10px var(--darkest-purple),
    inset -15px 0 10px var(--darkest-purple);
}

.umftgm {
  background-image: url(./../img/umfst.jpg);
}

.grro {
  background-image: url(./../img/grro.jpg);
}

.sapi {
  background-image: url(./../img/sapi.jpg);
}

.freelance {
  background-image: url(./../img//freelance.jpg);
}

.cf {
  background-image: url(./../img/cf.jpg);
}

.bio-img:hover {
  transform: scale(1.1);
}

/*-----------------------section two end------------------------*/
.copyright {
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 14px;
  margin: 0;
}

/*-----------------Custom CURSOR-------------------*/
.custom-cursor,
.lazy-cursor {
  position: fixed;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid var(--turquoise-hightight);
  width: 30px;
  height: 30px;
  left: 20px;
  right: 0;
  transition: transform 0.2s ease, opacity 0.2s ease, border-color 0.2s ease,
    background-color 0.2s ease;
  pointer-events: none;
  z-index: 9999;
}

/*hide cursors on touchscreen*/
@media screen and (max-width: 768px) {
  .custom-cursor,
  .lazy-cursor {
    display: none;
  }
}

.lazy-cursor {
  width: 10px;
  height: 10px;
  border: none;
  transition: 0.08s ease-out;
  animation: scale 1.5s infinite ease-in-out;
  mix-blend-mode: difference;
}

.link {
  cursor: none !important;
}

.to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--turquoise-hightight);
  z-index: 99;
  transition: 0.3s;
}

.to-top img {
  height: 50px;
  transform: rotate(-90deg);
  background-color: var(--darkest-purple);
  opacity: 0.5;
}

.to-top:hover {
  transform: scale(1.3);
}

@keyframes scale {
  0% {
    transform: scale(8);
  }
  50% {
    transform: scale(6);
  }
  99.9% {
    transform: scale(8);
  }
}
/*-----------------Custom CURSOR end-------------------*/

/*
----------------cinemApp CASE STUDY-------------------------
*/

#hero {
  position: relative;
}

.cinemapp-hero-img {
  position: relative;
  transform: translateX(-12%);
  z-index: -1;
}

#case-study {
  cursor: none;
}

#cinemappCaseStudy {
  cursor: none !important;
  background-color: var(--turquoise-hightight);
}

.cinemapp-content {
  height: 2000px;
  background-color: var(--darkest-purple);
  box-shadow: 0 0 50px var(--darkest-purple);
}

/*
--------------------Media Queries-------------------
*/
@media all and (min-width: 1023px) and (max-width: 1200px) {
  .placeholder {
    height: 100%;
  }

  .main-about {
    height: 65vh;
  }

  .section-one,
  .profile {
    height: 70vh;
    margin-top: 200px;
  }

  .main__heading {
    margin: 0;
  }

  .toggler-location-row {
    margin-top: 10%;
  }

  .information {
    margin-top: 0;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .contact-form-wrapper {
    margin-top: 500px;
    width: 80vw;
  }
}

@media all and (min-width: 750px) {
  .social-media-phone {
    display: none;
  }

  body {
    position: relative;
    z-index: 1;
  }

  #menu-toggle {
    display: none;
  }

  .profile__picture-animated {
    margin-top: 5px;
  }

  .project-list {
    grid-gap: 15px;
    padding: 0 35px;
  }

  .contact-form-wrapper {
    height: 700px;
    width: 80vw;
  }
}

@media all and (min-width: 750px) and (max-width: 1023px) {
  .information {
    padding: 20px;
  }

  .placeholder {
    height: 160%;
  }

  .text-info {
    margin-top: 150px;
    width: 90%;
    font-size: 24px;
  }

  .about-me {
    width: auto;
  }
}

@media all and (max-width: 750px) {
  .information {
    background-image: var(--deep-black);
    grid-template-columns: 1fr;
    padding: 20px;
    border-radius: 15px;
    padding-bottom: 125px;
  }

  .about-me__item {
    text-align: center;
  }

  .school {
    grid-template-columns: 1fr;
  }

  .project-list {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .project-list__item {
    max-width: 100%;
    transition: none;
    margin-bottom: 0;
  }

  .project-list__item:hover {
    max-width: 100%;
    margin: 0;
  }

  .project-img img {
    height: 30px;
  }

  .project-details {
    margin-bottom: 10%;
    padding-top: 30px;
    margin: 10px auto;
  }

  /* .page-header {
    background-image: -webkit-gradient(
      linear,
      right top,
      left top,
      from(rgba(29, 0, 27, 1)),
      to(rgba(29, 0, 27, 1))
    );
    background-image: -o-linear-gradient(
      right,
      rgba(29, 0, 27, 1),
      rgba(29, 0, 27, 1)
    );
    background-image: linear-gradient(
      to left,
      rgba(29, 0, 27, 1),
      rgba(29, 0, 27, 1)
    );
   } */

  .page-heading {
    font-size: 22px;
    font-weight: 400;
  }

  .main-about {
    display: block;
    z-index: 1;
  }

  .about-me {
    margin-bottom: 25px;
  }

  .about-me p {
    font-size: 18px;
    padding: 0;
  }

  .about-me h1 {
    font-weight: 400;
  }

  .button-container {
    margin: 0;
  }

  .personal-logo {
    height: 50px;
    margin-left: 5vw;
  }

  body {
    position: relative;
    z-index: -1;
    /*placed behind the profile picture to be able to click that*/
  }

  .section-one {
    position: relative;
    z-index: -1;
    /*placed behind the profile picture to be able to click that*/
  }

  .section-two {
    height: 260%;
    margin-bottom: 60px;
  }

  .profile {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    /* z-index: -1; */
    /*placed behind the profile picture to be able to click that*/
  }

  .profile__picture-wrapper {
    width: 100%;
    height: 284px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    background-image: url(../img/profile-picture-static-phone.svg);
    z-index: 2;
    /* placed forward*/
  }

  .mobile-nav-list__item,
  ul.mobile-nav-list li {
    z-index: 2;
  }

  .button {
    font-size: 90%;
  }

  h1,
  .about-me h1 {
    font-size: 22px;
  }

  .toggler-location-row {
    font-size: 28px;
    padding: 0;
  }

  .page__footer {
    background-color: var(--darkest-purple);
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: 60px;
    z-index: 999;
  }

  .page__footer-text {
    margin: 0;
    color: var(--heading-color);
  }

  .social-media-phone ul {
    padding: 0;
  }

  .social-media-phone li {
    display: inline-block;
    padding: 0 5px;
  }

  .social-media-desktop {
    display: none;
  }

  .main__heading {
    font-size: 52px;
  }

  .navigation-list {
    display: none;
  }

  #menu-toggle {
    position: absolute;
    right: 30px;
    top: 88px;
  }

  .navigation-list__item::before,
  .navigation-list__item::after {
    display: none;
  }

  .copyright {
    margin-bottom: 70px;
  }

  .toProjectsBtn {
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

@media all and (max-width: 1200px) {
  .show-more {
    display: none;
  }
  #projects {
    margin-bottom: 500px;
  }

  .project-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-list {
    grid-template-columns: 1fr;
    margin: auto;
    justify-items: center;
    align-items: center;
  }

  .project-details {
    text-align: center;
    min-width: 70vw;
    margin: 0;
  }

  .project-description {
    width: 100%;
  }

  .date {
    font-size: 40px;
    margin: auto;
  }

  .main-about {
    margin-bottom: -100px;
  }

  #contact {
    margin-top: 200px;
  }

  .stackHeading {
    padding-top: 150px;
  }
}

@media all and (max-width: 500px) {
  #rotating-text span {
    font-size: var(--biggest-font);
    width: auto;
    padding-left: 0;
  }

  .to-top {
    display: none;
  }

  .main__heading {
    margin-bottom: 0;
  }

  body {
    position: relative;
    z-index: 1;
    background-color: rgb(29, 0, 27);
    /*placed behind the profile picture to be able to click that*/
  }

  .profile__picture-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    background-image: url(../img/profile-picture-static-phone.svg);
    z-index: 2;
    /* placed forward*/
  }

  .contact-form-wrapper {
    width: 80vw !important;
    margin-top: 140px;
    z-index: 999;
  }

  #poster {
    z-index: -1;
  }

  #projects {
    width: 90vw;
    margin-top: 350px;
    transform: translateX(-10%);
    margin-left: 0;
    margin-bottom: 600px;
  }

  #techStack {
    width: 90vw;
    margin-top: 80px;
    padding: 0;
    transform: translateX(-5.5%);
  }

  #techStack div {
    position: relative;
    z-index: 2;
  }

  .stackHeading {
    padding-top: 200px;
  }

  .project-list__item {
    margin-bottom: 20px;
  }

  .project-description {
    text-align: center;
    font-size: 18px;
  }

  .project-description img {
    height: 30px;
  }

  .project-details {
    padding-top: 5%;
    min-width: 90vw;
  }

  .project-button {
    width: 80%;
  }

  .button-container {
    margin-top: 80px;
  }

  .toProjectsBtn {
    margin-top: -20px;
  }

  .text-info {
    width: 90%;
    font-size: 16px;
  }

  .contact-form-wrapper {
    margin-top: -100px;
  }

  /* #contact {
    padding-top: 350px;
  } */

  .information {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1350px) {
  .section-one {
    height: 65vh;
  }

  .main-about {
    height: 70vh;
    margin-bottom: -300px;
  }
}

/*
----------------------media queries end-------------------
*/
