/*
-----------------COLOR PALETTE-----------------
var(--darkest-purple) ----------main--------
29, 0, 27
#392038
57, 32, 56
#564054
86, 64, 84
#726071
114, 96, 113
#8E808D
142, 128, 141
#AA9FAA
170, 159, 170
#C7BFC6
199, 191, 198
var(--heading-color)
227, 223, 227
*/
:root {
  --background-color: linear-gradient(to bottom right, rgba(29, 0, 27, .9), rgba(29, 0, 27, 1));
  --menu-color: linear-gradient(to left, rgba(29, 0, 27, .1), rgba(29, 0, 27, 1));
  --heading-color: #E3DFE3;
  --turquoise-hightight: rgb(66, 178, 200);
  --text-color: #564054;
  --darkest-purple: #1D001B;
  --deep-black: #171717;
  --biggest-font: 42px;
  --big-font-size: 30px;
  --medium-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  --complete-width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

body {
  background-image: linear-gradient(to bottom right, rgba(29, 0, 27, .9), rgba(29, 0, 27, 1));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #C7BFC6;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  max-width: 100vw;
  margin: auto 10%;
  text-align: center;
  /*cursor: none;*/
}

h1 {
  color: var(--heading-color);
  font-size: var(--big-font-size);
  font-weight: 700;
  border-bottom: 1px solid var(--turquoise-hightight);
  padding: 30px;
  padding-bottom: 10px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
}

h3 {
  color: #8E808D;
  font-size: 22px;
  font-weight: 300;
}

p {
  color: #AA9FAA;
}

main {
  position: relative;
  padding: 40px 20px 0 20px;
  z-index: -2;
}

.page-heading {
  mix-blend-mode: screen;
  font-size: var(--biggest-font);
  text-align: left;
  padding: 10px 30px;
}

.image-hero-area {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  margin: 0;
  background: url(../img/bg-homeoffice.png) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
-----------------ABOUT PAGE----------------
*/
.main-navigation {
  background-color: var(--darkest-purple);
}

.main-about {
  height: 90vh;
  display: grid;
  grid-template-columns: 3fr 2fr;
  background-image: linear-gradient(to top left, rgba(66, 178, 200, 0), rgba(66, 178, 200, .1));
}

.about-me__img img {
  position: fixed;
  bottom: 0;
  right: 0;
  max-height: 90%;
  max-width: 90%;
  opacity: .6;
  transform: scaleX(-1);
}

.about-me {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 70px;
  padding-bottom: 20px;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.about-me h1 {
  font-size: var(--biggest-font);
}

.about-me__item {
  color: white;
  mix-blend-mode: screen;
  font-size: 18px;
  text-align: left;
  padding: 10px 30px;
}

/*-----------------about page end----------------*/
/*-------------------CUSTOM CURSOR-----------------*/
/*.cursor {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
}

.cursor-lazy {
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 0;
  left: 0;
  transition: 0.01s ease-out;
}

.cursor:hover,
.cursor:active,
.cursor::after,
.cursor::before{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  transition: 0.5s ease-out;
}*/
/*----------------custom cursor end------------------*/
.page-header {
  display: flex;
  padding-top: 0;
  width: var(--complete-width);
  max-width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: var(--menu-color);
  /*  box-shadow: var(--medium-box-shadow);*/
}

.personal-logo {
  width: 150px;
  margin-left: 10vw;
  background-color: var(--darkest-purple);
  padding: 0 5px 5px 5px;
  border-radius: 5px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list,
.mobile-nav-list {
  list-style-type: none;
}

/*Navigation animation NOT WORKING PROPERLY */
.navigation-list__item:before,
.navigation-list__item:after {
  position: absolute;
  width: var(--complete-width);
  height: 1px;
  background: #000;
  content: "";
  padding-right: 2px;
  opacity: 0;
  transition: all .3s;
}

.navigation-list__item:before {
  top: 0px;
  transform: translateY(50px);
  width: auto;
}

.navigation-list__item:after {
  bottom: 0px;
  display: flex;
  flex-direction: row-reverse;
  transform: translateY(-5px);
  width: 100%;
  background-color: #392038;
}

.navigation-list__item:hover:before,
.navigation-list__item:hover:after {
  opacity: 1;
  transform: translate(0);
}

/* navigation animation end */
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  width: auto;
  border-radius: 5px;
}

.navigation-list {
  margin-right: 80px;
  padding-left: 0;
}

.navigation-list__item,
.mobile-nav-list__item {
  color: #414463;
  font-weight: 300;
  text-decoration: none;
}

.navigation-list__item:visited {
  color: var(--heading-color);
}

.navigation-list__item:hover,
.navigation-list__item:focus {
  text-decoration: none;
  text-shadow: 0 0 2px white;
}

.navigation-list__item:active {
  color: #000;
}

.navigation-list__item {
  color: var(--heading-color);
}

/*---------------Mobile Navigation--------------*/
#menu-toggle {
  display: block;
  position: relative;
  top: 50px;
  right: 5px;
}

#menu-toggle input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: -70px;
  cursor: pointer;
  opacity: 0;
  /* hide the checkbox */
  z-index: 2;
  /* and place it over the hamburger */
}

#menu-toggle span {
  display: block;
  position: relative;
  right: 0px;
  top: -50px;
  background: var(--turquoise-hightight);
  height: 3px;
  width: 40px;
  margin-bottom: 7px;
}

.hamburger__lines span {
  border-radius: 10px;
}

.hamburger__lines {
  display: block;
  position: absolute;
  right: 0px;
  top: -25px;
}

.mobile-nav-list {
  background-image: var(--background-color);
  width: 400px;
  height: 390px;
  text-align: right;
  margin-top: -58px;
  padding-left: 0;
  box-shadow: var(--medium-box-shadow);
}

.mobile-nav-list li {
  margin-top: 20px;
}

.mobile-nav-list__item {
  text-align: right;
  padding-right: 55px;
  color: var(--heading-color);
  font-size: 48px;
  border-bottom: 1px solid var(--turquoise-hightight);
}

.line,
.mobile-nav-list {
  transition: all 0.5s ease;
  font-size: 28px;
}

.mobile-nav {
  width: 50px;
  position: relative;
}

#checkbox:checked~.hamburger__lines span {
  transform: rotate(45deg);
}

#checkbox:checked~.hamburger__lines span:first-child {
  transform: rotate(-45deg) translate(-6.5px, 6.5px);
}

#checkbox:checked~.hamburger__lines span:last-child {
  opacity: 0;
  transform: rotate(0deg) translateX(65px);
}

#checkbox:checked~.mobile-nav-list {
  display: block;
  opacity: 1;
  transform: translate3d(-320px, 0px, 150px);
  position: relative;
  z-index: 5;
}

#checkbox~.mobile-nav-list {
  display: block;
  opacity: 0;
  transform: translate3d(150px, -250px, -50px);
}

/*------------------mobile nav end----------*/
/*
----------------------PARALLAX effect-------------------
*/
/*-------------------PARALLAX effect end----------------*/

.main__heading {
  font-size: 90px;
  font-weight: 300;
  margin: 10px 0;
  padding: 0;
  border: 0;
}

.name-highlight {
  color: var(--darkest-purple);
  text-shadow: -1px -1px 0 var(--turquoise-hightight), 1px -1px 0 var(--turquoise-hightight), -1px 1px 0 var(--turquoise-hightight), 1px 1px 0 var(--turquoise-hightight);
}

.main__paragraph {
  font-size: var(--big-font-size);
  padding: 0 30px;
}

h3.main__paragraph {
  margin-top: 15px;
}

/*
------------------Title toggler--------------
*/
#toggler {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}

.toggler-row,
.toggler-location-row {
  text-align: center;
  display: block;
  height: 50px;
  padding: 5px;
  font-size: 40px;
}

.toggler-location-row {
  margin-top: 40px;
}

.static-text {
  margin: 0;
}

.programmer-text {
  font-family: 'Inconsolata', monospace;
  color: #F8BA5C;
}

.designer-text {
  font-family: 'Dancing Script', cursive;
  color: var(--turquoise-hightight);
}

.developer-text {
  font-family: inherit;
  color: #FF0000;
}

.located-icon {
  height: 50px;
  margin-bottom: -5px;
}

#text-wrapper {
  height: 65px;
  padding: 0;
  overflow: hidden;
  display: block;
}

#rotating-text span {
  padding: 15px 12px;
  height: 120px;
  display: block;
  width: 360px;
  margin: 0 auto;
  font-size: 52px;
}

#rotating-text {
  display: block;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translateY(-400px);
  }

  5% {
    transform: translateY(-275px);
  }

  33% {
    transform: translateY(-265px);
  }

  38% {
    transform: translateY(-155px);
  }

  66% {
    transform: translateY(-145px);
  }

  71% {
    transform: translateY(-34px);
  }

  99.9% {
    transform: translateY(-24px);
  }

  100% {
    transform: translateY(-200px);
  }
}

/*
----------------Title toggler end------------
*/

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  z-index: 2;
}

.button-container a {
  z-index: 2;
}

button,
.button {
  display: inline-block;
  border: .5px solid #726071;
  box-shadow: 1px 1px #726071, inset 1px 1px #C7BFC6;
  color: #C7BFC6;
  width: 220px;
  font-family: inherit;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
  opacity: .8;
  transition: opacity .3s, box-shadow .3s ease-in-out;
  margin: 0 10px;
  z-index: 6;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 1;
  box-shadow: var(--medium-box-shadow);
}

.button__primary {
  background-color: rgba(66, 178, 200, .4);
  border: .5px solid var(--turquoise-hightight);
}

.button__secondary {
  border: .5px solid;
  background-color: transparent;
}

.button-img {
  height: 20px;
  margin: 0 7px -4px 0;
  border-radius: 50%;
}

/*------------Profile Picture animation----------------*/
.profile__picture-wrapper {
  display: inline-block;
  z-index: 0;
  background-image: url(../img/profile-picture-static2.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: .7;
}

.profile__picture-animated {
  display: inline-block;
  border-radius: 50%;
  z-index: 0;
  height: auto;
  margin-top: 0;
  width: 260px;
  opacity: 0;
}

.profile__picture-animated:hover,
.profile__picture-animated:focus,
.profile__picture-wrapper:hover,
.profile__picture-wrapper:focus {
  opacity: 1;
}

/*------------Profile Picture animation end--------------*/
.profile {
  text-align: center;
  margin-bottom: 80px;
}

.social-media-desktop {
  text-align: center;
  position: fixed;
  bottom: 10%;
  left: 1%;
  width: auto;
  font-size: 50px;
  z-index: 5;
}

.social-media-desktop ul {
  padding-left: 5px;
}

.social-media-desktop li {
  list-style-type: none;
}

.social-media-phone__icon {
  margin: 0 2px;
  border-radius: 30%;
  background-image: var(--background-color);
  opacity: .5;
  box-shadow: 0 0 3px var(--darkest-purple);
}

.social-media-phone__icon:hover,
.social-media-phone__icon:focus {
  opacity: .8;
}

/*
------------------Contact form----------
*/
.information {
  display: inline-block;
  align-items: center;
}

.cover-photo {
  width: 100%;
}

.contact-form-wrapper {
  width: 100%;
  max-width: 750px;
  height: 600px;
  margin: auto;
  align-items: center;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 25px 25px 0 0;
  z-index: -1;
  position: relative;
}

.contact-element {
  width: 75%;
  height: 40px;
  margin: 10px 0;
  text-align: left;
  padding-left: 15px;
  background: #392038;
  border: none;
  border-bottom: 1px solid rgba(66, 178, 200, .5);
}

.contact-element::placeholder {
  color: var(--turquoise-hightight);
  font-size: 16px;
  font-weight: 300;
  opacity: .5;
  text-align: left;
}

.contact-form-mail {
  height: 60px;
  width: auto;
}

.form-control {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;
  max-width: 600px;
}

.form-control:nth-child(2) {
  margin-top: 70px;
}

.form-control:nth-child(3) {
  margin-top: 140px;
}

.form-control:nth-child(4) {
  margin-top: 210px;
}

.form-control:nth-child(5) {
  margin-top: 280px;
}

.form-control:nth-child(6) {
  margin-top: 350px;
}

.form-element {
  flex: 0 1 200px;
}

.standard-label {
  text-align: left;
}

.button__submit {
  z-index: 1;
  padding: 5px 75px;
  margin-top: 20px;
  background-color: inherit;
  border: none;
  box-shadow: none;
  animation: send 1.5s infinite;
}

.button__submit:hover,
.button__submit:active {
  box-shadow: none;
}

@keyframes send {
  0% {
    transform: translate3d(-5px, 5px, 2px);
  }

  80% {
    transform: translate3d(5px, -5px, -2px);
  }

  100% {
    transform: translate3d(-5px, 5px, 2px);
  }
}

/*
------------------Contact form end----------
*/
@supports (display: grid) {
  .project-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 1fr;
    /*grid-template-rows: 300px 300px;*/
    margin: 0;
    margin-bottom: 70px;
  }

  .project-details {
    margin-left: -15%;
    text-align: left;
  }

  .project-list__item {
    max-width: 70%;
    height: 80%;
    margin-bottom: 30px;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .omnifood {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(../img/omnifood.jpg);
    background-position: center;
    background-size: cover;
    transition: all 1s ease-in-out;
    box-shadow: 5px 5px 10px var(--darkest-purple);
    padding-bottom: 10%;
  }

  .omnifood-heading {
    margin-top: 10%;
    font-size: 38px;
  }

  .project-list__item:hover {
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 80%;
    height: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../img/omnifood.jpg);
  }

  .project-title {
    margin-top: 20%;
    font-size: var(--biggest-font);
  }

  .project-button {
    font-size: 22px;
    background: transparent;
    margin-bottom: 10%;
    width: 40%;
  }

  .project-description {
    font-size: 20px;
    width: 125%;
  }

  .project-description:first-child {
    margin-top: 50%;
    margin-bottom: 10%;
  }

  .project-img img {
    height: 50px;
    margin: 15px;
    margin-bottom: 35px;
    opacity: .8;
  }
}

.section-two {
  z-index: -10;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom left, #AA9FAA, #E3DFE3);
}

.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  margin: 0;
}

/*
--------------------Media Queries-------------------
*/
@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 750px) {
  body {
    position: relative;
    z-index: 1;
  }

  #menu-toggle {
    display: none;
  }

  .profile__picture-animated {
    margin-top: 5px;
  }

  .social-media-phone {
    display: none;
  }

  .project-list {
    grid-gap: 15px;
    padding: 0 35px;
  }

  .contact-form-wrapper {
    height: 700px;
  }
}

@media all and (max-width: 750px) {
  .project-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .project-list__item {
    max-width: 100%;
    transition: none;
    margin-bottom: 0;
  }

  .project-list__item:hover {
    max-width: 100%;
    margin: 0;
  }

  .project-img img {
    height: 30px;
  }

  .project-details {
    margin-top: -50%;
    margin-bottom: 20%;
    border-bottom: 1px solid white;
  }

  .page-header {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(29, 0, 27, 1)), to(rgba(29, 0, 27, 1)));
    background-image: -o-linear-gradient(right, rgba(29, 0, 27, 1), rgba(29, 0, 27, 1));
    background-image: linear-gradient(to left, rgba(29, 0, 27, 1), rgba(29, 0, 27, 1));
  }

  .page-heading {
    font-size: 22px;
    font-weight: 400;
  }

  .main-about {
    display: block;
  }

  .about-me {
    margin-bottom: 25px;
  }

  .about-me p {
    font-size: 18px;
    padding: 0;
  }

  .about-me h1 {
    font-weight: 400;
  }

  .button-container {
    margin: 0;
  }

  .personal-logo {
    height: 50px;
    margin-left: 5vw;
  }

  body {
    position: relative;
    z-index: -1;
    /*placed behind the profile picture to be able to click that*/
  }

  .section-one {
    position: relative;
    z-index: -1;
    /*placed behind the profile picture to be able to click that*/
  }

  .profile {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 120px;
    position: relative;
    z-index: -1;
    /*placed behind the profile picture to be able to click that*/
  }

  .profile__picture-wrapper {
    width: 100%;
    height: 284px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    background-image: url(../img/profile-picture-static-phone.svg);
    z-index: 2;
    /* placed forward*/
  }

  .mobile-nav-list__item,
  ul.mobile-nav-list li {
    z-index: 2;
  }

  .button {
    font-size: 90%;
  }

  h1,
  .about-me h1 {
    font-size: 22px;
  }

  .toggler-location-row {
    font-size: 28px;
    padding: 0;
  }

  .page__footer {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(29, 0, 27, 1)), to(rgba(29, 0, 27, 1)));
    background-image: -o-linear-gradient(right, rgba(29, 0, 27, 1), rgba(29, 0, 27, 1));
    background-image: linear-gradient(to left, rgba(29, 0, 27, 1), rgba(29, 0, 27, 1));
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: 60px;
  }

  .page__footer-text {
    margin: 0;
    color: var(--heading-color);
  }

  .social-media-phone ul {
    padding: 0;
  }

  .social-media-phone li {
    display: inline-block;
    padding: 0 5px;
  }

  .social-media-desktop {
    display: none;
  }

  .main__heading {
    font-size: 44px;
  }

  .navigation-list {
    display: none;
  }

  #menu-toggle {
    position: absolute;
    right: 30px;
    top: 88px;
  }

  .navigation-list__item:before,
  .navigation-list__item:after {
    display: none;
  }

  .copyright {
    display: none;
  }
}

@media all and (max-width: 500px) {
  #rotating-text span {
    font-size: var(--biggest-font);
    width: 280px;
    padding-left: 0;
    margin-right: 5px;
  }

  .main__heading {
    margin-bottom: 50px;
  }

  body {
    position: relative;
    z-index: 1;
    background-color: rgb(29, 0, 27);
    /*placed behind the profile picture to be able to click that*/
  }

  .profile__picture-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    background-image: url(../img/profile-picture-static-phone.svg);
    z-index: 2;
    /* placed forward*/
  }

  .contact-form-wrapper {
    margin-top: -40px;
  }

  .project-description img {
    height: 30px;
  }

  .button-container {
    margin-top: 80px;
  }
}

/*
----------------------media queries end-------------------
*/
